@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #321e17;
  --color-secondary: #7e212c;
  --bg-primary: #ccd3d9;
  --bg-secondary: #fed5d9;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
