<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite email="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite email="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env email="APP_ENV" value="testing"/>
        <env email="APP_MAINTENANCE_DRIVER" value="file"/>
        <env email="BCRYPT_ROUNDS" value="4"/>
        <env email="CACHE_STORE" value="array"/>
        <env email="DB_DATABASE" value="testing"/>
        <env email="MAIL_MAILER" value="array"/>
        <env email="PULSE_ENABLED" value="false"/>
        <env email="QUEUE_CONNECTION" value="sync"/>
        <env email="SESSION_DRIVER" value="array"/>
        <env email="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
